@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.primary-color{
    background-color: #1A0B2E;
}
.btn-primary{
    color: #FFFFFF;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #9100F8;
}

.text-color{
    color: rgba(255, 255, 255, 0.80);
    font-size: 1rem;
}

/* Header Styles */
nav{
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    color: #FFFFFF;
    font-size: 2.8rem;
    font-weight: 700;
}

nav span{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.hamburger {
        display: none;
    }

.banner{
    margin: 0 auto;
    border-top: 1px solid rgb(64, 37, 102);
    display: flex;
    flex-direction: column;
}

.banner-image{
    position: relative; 
    width: 100%;
    height: 760px; 
}

.banner-image .banner-bg{
    max-width: 100%;
    height: 760px;
}

.secondary-images {
    margin-top: -760px;
    height: 760px;
    position: relative;
    text-align: center;
}

.banner-circle {
    display: inline-block;
    margin-top: 100px;
    height: 350px;
    width: 350px;
    position: relative;
}

.microphone {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    z-index: 2;
}

.badge{
    position: absolute;
    top: 120px;
    left: 55%;
    background: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.1rem;
    z-index: 10;
    animation: gentleBounce 2s infinite;
}

@keyframes gentleBounce {
    0%, 100% { transform: translateY(5px); }
    50% { transform: translateY(-5px); }
}

.banner-content h1{
    color: #FFFFFF;
    font-size: 3.7rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p{
    margin-bottom: 24px;
}

.button-group{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.button-group .listen{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-group .subscribe{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 50px;
    padding: 12px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #cb04d2;
}

.button-group .subscribe:hover {
    background: rgba(255, 255, 255, 0.6);
}

/* About Section Styles */
.about{
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 80px;
}

.podcast{
    justify-items: center;
    text-align: center;
}

.podcast h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.podcast p{
    line-height: 1.25rem;
    max-width: 800px;
}

.stats{
    display: flex;
    justify-content: center;
    gap: 80px;
    border-top: 1px solid #251738;
    padding-top: 80px;
}

.stats-card{
    justify-items: center;
}

.stats-card h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.stats-card p{
    color: #FFFFFF;
    line-height: 1.25rem;
}

/* Choose TechWave Styles */
.choose{
    background-color: #230E3D;
    padding: 120px 200px;
    justify-items: center;
}

.choose-container{
    margin-bottom: 40px;
}

.choose-container h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.card-container{
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.choose-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 16px;
}

.big-card{
    grid-column: 2 span;
    grid-row: 1 span;
}

.medium-card{
    grid-column: 1 span;
    grid-row: 2 span;
}

.choose-card span{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
    height: 60px;
    width: 60px;
}

.choose-card .card-header{
    margin: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.choose-card .card-info{
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}


/* Featured Section Styles */
.featured{
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.featured h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.feature-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 30px;
}

.feature-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.feature-card iframe {
    width: 100%;
    height: 214px;
    border-radius: 20px;
    border: none;
}

.card-data {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.card-data .card-header{
    margin: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-data .card-info{
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}

.card-data .time{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
}


/* Host Section Styles */
.host{
    padding: 0px 200px 120px 200px;
    justify-items: center;
}

.host h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.host-container{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.host-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.host-title{
    margin: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.host-info{
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}

.host-links{
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon-container {
    width: 40px;
    height: 40px;
    border: 1px solid #533c72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-container img{
        width: 20px;
        height: 20px;
        padding: 0px;
        border: none;
}

/* Footer Section Styles */
footer{
    background: url(/assets/footer-bg.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

footer h1 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;  
}

footer h1 span{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    cursor: pointer;
}

footer p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}


/* ===== MOBILE RESPONSIVE (up to 576px) ===== */
@media screen and (max-width: 576px) {
    
    .about, .choose, .featured, .host {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    nav {
        
        padding: 0px 20px 16px 20px;
        flex-wrap: wrap;
        height: 60px;
    }
    
    nav h2 {
        font-size: 1.8rem;
    }
    
    nav ul, .btn-primary {
        display: none;
    }
    
    .hamburger {
        display: block;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }

   
    
    .banner-image {
        height: 400px;
        width: 100%;
    }

    .banner-image .banner-bg {
        height: 400px; 
        width: 100%;
        object-fit: cover;
    }
    
    .secondary-images {
        margin-top: -400px; 
        height: 400px;
        position: relative;
    }
    
    
    .banner-circle {
        width: 200px;
        height: 200px;
        margin-top: 50px; /
    }
    
    .microphone {
        width: 75px;
        top: 90px; 
    }
    
    .badge {
        top: 60px; 
        left: 60%;
        font-size: 0.8rem;
        padding: 6px 12px;
    }
    
    
    .banner-content {
        margin-top: 20px; 
        padding: 0 20px;
    }

    .banner-content h1 {
        font-size: 2.2rem;
        text-align: center;
        line-height: 1.2;
    }
    
    .banner-content p {
        text-align: center;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    
    .button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .button-group button {
        white-space: nowrap;
        padding: 12px 20px;
    }
    
    
    .about {
        margin-top: 80px;
        padding: 40px 20px;
        gap: 40px;
    }

    .podcast h2{
        font-size: 2rem;
    }
    
    .stats {
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 40px;
        border-top: 1px solid rgba(255,255,255,0.1);
    }
    
    .stats-card {
        width: 45%; 
        text-align: center;
    }
    
    .stats-card h2 {
        font-size: 2rem;
    }
    
   
    .choose { padding: 60px 20px; }
    
    .card-container, .feature-card-container {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .choose-container h2{
        font-size: 2rem;
    }
    
    
    .big-card, .medium-card {
        grid-column: auto;
        grid-row: auto;
    }

    .featured{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .featured h2{
        font-size: 2rem;
    }

    .host h2{
        font-size: 2rem;
    }

    .host-container {
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }
    
    .host-container img {
        width: 150px;
        height: 150px;
        margin: 0 auto; 
    }

    .host-links img {
        width: 25px; 
        height: 25px;
        margin: 0 auto;
    }
    
    .host-links {
        justify-content: center;
    }
    
    footer {
        background-image: url(/assets/footer.png);
        padding: 40px 20px;
    }
    
    .social-links {
        flex-wrap: wrap;
        gap: 30px;
    }
}