@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.primary-color{
    background-color: #1A0B2E;
}
.btn-primary{
    color: #FFFFFF;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
}

.text-color{
    color: rgba(255, 255, 255, 0.80);
    font-size: 1rem;
}

/* Header Styles */
nav{
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    color: #FFFFFF;
    font-size: 2.8rem;
    font-weight: 700;
}

nav span{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.banner{
    margin: 0 auto;
    border-top: 1px solid rgb(64, 37, 102);
    display: flex;
    flex-direction: column;
}

.banner-image{
    position: relative; 
    width: 100%;
    height: 760px; 
}

.banner-image .banner-bg{
    max-width: 100%;
    height: 760px;
}

.secondary-images {
    margin-top: -760px;
    height: 760px;
    position: relative;
    text-align: center;
}

.banner-circle {
    display: inline-block;
    margin-top: 100px;
    height: 350px;
    width: 350px;
    position: relative;
}

.microphone {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    z-index: 2;
}

.badge{
    position: absolute;
    top: 120px;
    left: 55%;
    background: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.1rem;
    z-index: 10;

}

.banner-content h1{
    color: #FFFFFF;
    font-size: 3.7rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p{
    margin-bottom: 24px;
}

.button-group{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.button-group .listen{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-group .subscribe{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 50px;
    padding: 12px 20px;
}